/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', 'Arial', 'sans-serif';
}

a {
  color: brown;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Navigation Section */
.navbar-brand{
    font-size: 2rem;
}

.logo{
    color: #fcbd20;
}

.nav-link{
    color: white;
    transition: .5s;
}

.nav-link:hover{
    color: #fcbd20;
}

/* Hero */
.rounded-custom{
    border-radius: 20%;
}

/* SKills Section */
.skills-list{
    border-bottom: 5px solid #fcbd20;
    width: 17rem;
    margin-bottom: 20px; 
} 
.skills-list-2{
    border-bottom: 5px solid #fcbd20;
    width: 5rem;
    margin-bottom: 20px; 
} 
.skills-list-3{
    border-bottom: 5px solid #fcbd20;
    width: 18rem;
    margin-bottom: 20px; 
} 
.skills-list-4{
    border-bottom: 5px solid #fcbd20;
    width: 17rem;
    margin-bottom: 20px; 
} 
.skills-list-5{
    border-bottom: 5px solid #fcbd20;
    width: 20.5rem;
    margin-bottom: 20px; 
} 


/* Footer */
.social-icon:hover{
    color: #fcbd20;
}

.social-icon{
    transition: .5s;
}